/* Styles for the homepage stats strip. */

a {
    text-decoration: none;
    color: rgb(47, 113, 211);
    font-weight: 500;
}

.fa-arrow-right-long {
    color: rgb(47, 113, 211);
}

.para {
    margin-bottom: 2rem;
}